<html>
    <head>{{title}}</head>
    <body>
        <h3>Welcome</h3>
        <hr/>
        <ul class="skills">
            {{#each skills}}<li>{{this}}</li>{{/each}}
        </ul>
    </body>
</html>